# __Data Exploration with Pandas__

### [Data Grouping and aggregation.](#Data_grouping_and_aggregation)
* Introduction to Data Grouping
* Groupby Objects
* Introduction to Data Aggregation
* mean(), sum(), min(), max(), count()
* Groupby.agg()
* Pivot_table()

### [merging datasets.](#Basic_Operations_in_Python)
* Concat()
* Merge()

### [Data transformation](#Basic_Operations_in_Python)
* series.map()
* series.apply()
* df.applymap()
---

<a id='Data_grouping_and_aggregation'></a>

### *Data_grouping_and_aggregation*

DATA GROUPING

INTRODUCTION 

The GroupBy object enables us split our dataFrame into groups. Calling only the Groupby object returns the pandas core dataframe. Nothing actually gets computed until a function is called on the GroupBy object.
The groupby object makes our code faster, easier to read and more flexible.


Let's practice.

In [13]:
#let's import the necessary libraries
import pandas as pd
import matplotlib as plt
print("successful")

successful

In [14]:
#let's load the data
path = "C:/Users/chiso/OneDrive/Documents/health_dataset.xlsx"
df = pd.read_excel(path)  
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10000 non-null  object
 1   Age                 10000 non-null  int64
 2   Gender              10000 non-null  object
 3   Blood Type          10000 non-null  object
 4   Medical Condition   10000 non-null  object
 5   Date of Admission   10000 non-null  datetime64[ns]
 6   Doctor              10000 non-null  object
 7   Hospital            10000 non-null  object
 8   Insurance Provider  10000 non-null  object
 9   Billing Amount      10000 non-null  float64
 10  Room Number         10000 non-null  int64
 11  Admission Type      10000 non-null  object
 12  Discharge Date      10000 non-null  datetime64[ns]
 13  Medication          10000 non-null  object
 14  Test Results        10000 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 1.1+ MB

In [16]:
#let's drop the columns that we won't be needing
df.drop(columns = ["Name", "Doctor", "Hospital", "Insurance Provider", "Room Number", "Medication"], inplace = True)
df.head()

,Age,Gender,Blood Type,Medical Condition,Date of Admission,Billing Amount,Admission Type,Discharge Date,Test Results
0,81,Female,O-,Diabetes,2022-11-17,37490.983364,Elective,2022-12-01,Inconclusive
1,35,Male,O+,Asthma,2023-06-01,47304.064845,Emergency,2023-06-15,Normal
2,61,Male,B-,Obesity,2019-01-09,36874.896997,Emergency,2019-02-08,Normal
3,49,Male,B-,Asthma,2020-05-02,23303.322092,Urgent,2020-05-03,Abnormal
4,51,Male,O-,Arthritis,2021-07-09,18086.344184,Urgent,2021-08-02,Normal

In [17]:
#let's check for missing values
df.isnull().sum()

Age                  0
Gender               0
Blood Type           0
Medical Condition    0
Date of Admission    0
Billing Amount       0
Admission Type       0
Discharge Date       0
Test Results         0
dtype: int64

Great! there are no missing values, now let's check for duplicates

In [18]:
#checking for duplicates
df.duplicated().sum()

0

There are no duplicates, now let's delve into Data grouping and aggregation.

In [38]:
#let's check for unique blood type  in the blood type column
blood_types = list(df["Blood Type"].unique())
print(blood_types)

#checking the count of each blood type
blood_typecount = df["Blood Type"].value_counts()
blood_typecount

['O-', 'O+', 'B-', 'AB+', 'A+', 'AB-', 'A-', 'B+']

Blood Type
AB-    1275
AB+    1258
B-     1252
O+     1248
O-     1244
B+     1244
A+     1241
A-     1238
Name: count, dtype: int64

We have been able to see the unique blood types and each of their value counts.

We can also do this with one line of code using the groupby object and .size()


*Let's do this*

In [40]:
#grouping the data by blood group and checking for the count of each blood type

patients_bloodtype = df.groupby("Blood Type").size()
patients_bloodtype

Blood Type
A+     1241
A-     1238
AB+    1258
AB-    1275
B+     1244
B-     1252
O+     1248
O-     1244
dtype: int64

using groupby object in grouping the data does not return anything when no operation is performed.

In [42]:
grouped_df = df.groupby("Blood Type")
grouped_df

We can see that the groupby operation didn't return anything. This is because we just grouped but didn't perform any operation unlike the previous cell

We can also select specific columns in our dataframe after whith the groupby object

In [47]:
#grouping the data by admission type and checking for the sum of the billing amount for each admission type
admission_bill_s = df.groupby("Admission Type")["Billing Amount"].sum()
print(admission_bill_s)

#grouping the data by admission type and checking for the mean of the billing amount for each admission type
admission_bill_mean = df.groupby("Admission Type")["Billing Amount"].mean()
admission_bill_mean

Admission Type
Elective     8.394132e+07
Emergency    8.319356e+07
Urgent       8.803319e+07
Name: Billing Amount, dtype: float64

Admission Type
Elective     25891.832668
Emergency    24708.511933
Urgent       25960.833557
Name: Billing Amount, dtype: float64

DATA AGGREGATION

INTRODUCTION
Data Aggregation helps us perform one or more aggregate at once on our column. It also takes in functions as parameters.

Since we have seen how to use the groupby object, we will now combine it with the .agg() function for data grouping and aggregation.

*Let's do this*

In [50]:
#using the .agg() method to find the sum and mean of the billing amount for each admission type
mean_and_sum_admissbills = df.groupby("Admission Type")["Billing Amount"].agg(["sum", "mean"])
mean_and_sum_admissbills

                         sum          mean
Admission Type
Elective        8.394132e+07  25891.832668
Emergency       8.319356e+07  24708.511933
Urgent          8.803319e+07  25960.833557

OR

In [53]:
admissbills = df.groupby("Admission Type")["Billing Amount"]
mean_and_sum_admissbills = admissbills.agg(["sum", "mean"])
mean_and_sum_admissbills

                         sum          mean
Admission Type
Elective        8.394132e+07  25891.832668
Emergency       8.319356e+07  24708.511933
Urgent          8.803319e+07  25960.833557

The .agg() method also takes in functions.

In [37]:
blood_types = df.groupby("Blood Type").count()
blood_types

Blood Type  Age  Gender  Medical Condition  Date of Admission  Billing Amount  Admission Type  Discharge Date  Test Results
A+          18   Female  Arthritis          2019-07-01         8647.898159     Urgent          2019-07-16      Abnormal        1
                                            2019-07-30         7237.040595     Emergency       2019-08-28      Normal          1
            41   Male    Arthritis          2019-05-16         49267.525957    Emergency       2019-06-03      Abnormal        1
                 Female  Asthma             2021-11-23         13420.958480    Elective        2021-11-26      Inconclusive    1
                         Cancer             2019-01-01         11434.768359    Urgent          2019-01-15      Normal          1
                                                                                                                              ..
O-          62   Male    Obesity            2023-03-07         43176.171304    Urgent          2023-03-23      Inconclusive    1
            63   Female  Asthma             2019-10-21         25262.709104    Emergency       2019-11-12      Inconclusive    1
                                            2020-05-15         22423.161183    Urgent          2020-05-18      Abnormal        1
                         Hypertension       2022-06-07         16259.799098    Urgent          2022-07-06      Normal          1
            85   Male    Obesity            2020-03-11         1889.902251     Elective        2020-03-27      Inconclusive    1
Name: count, Length: 10000, dtype: int64

In [34]:
blood_types = df.groupby("Blood Type")["Gender"]
blood_types